body {
  
    background: #1e1e1e;
  }    
  .backg {
    background-color: rgba(2, 44, 44, 0.498);
    
    
    position: relative;
  }
  .backg::after {
    content: "";
    background-image: url("/media/image_6487327.JPG");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .borders {
    border: 20px double gold;
  }
  .borders:hover {

  }
  .outlines {
    outline: 10px double black;
  }
  .navbar {
    z-index: 100;
    width: 100px;
    height: 10PX;
    background-color: rgb(17, 255, 0);
  }
  .navbar h1 {
    width: 100%;
    height: 100px;
    color: black;
    font-size: 4em;
    text-shadow: 3px 3px goldenrod;
    
    
    background-color: rgb(182, 199, 69);
  }
  main {
    margin: 20% 20% 5% 55%;
    
    padding: 1%;
    width: 650px;
    height: 650px;
    border: 20px double rgba(57, 221, 243, 0.478);
  
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 100ms ease-in-out;
    
  }
  section {
    border: 5px double gold;
    margin: 5%;
  }
  .wheel {
    z-index: 2;
      width: 250px;
      height: 250px;
      margin: 10% 50% 10% 50%;
      border: 3px dashed teal;
      border-radius: 50%;
      text-align: center;
      background-color: rgba(128,128,128,0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 1s ease-in-out;
      
    }
    
    .wheel:hover {
      transform: rotate(7200deg);
    }
    .wheel h1 {
      margin: 0;
      padding: 0;
      font-size: .8em;
      color: skyblue;
      letter-spacing: 1em;
      text-shadow: 0 0 10px black;
      
    }
    
    .button {
      width: 200px;
      height: 200;
      z-index: 5;
      border-radius: 50%;
      margin: em;
      text-align: center;
      background: #000;
      color: rgb(248, 3, 3);
      font-size: 2em;
      padding: .8em;
      border: 8px double rgb(147, 150, 88);
      outline: none;
      letter-spacing: 3px;
      transition: transform 100ms ease-in-out;
    }
    .button:hover {

    }
  